html {
	font-size: 10px;
	scroll-behavior: smooth;
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		background-color: #dbf227;
		font-family: 'Poppins', sans-serif;
		::selection {
			background-color: white;
			color: black;
		}
	}
}

.wrapper {
	display: grid;
	align-items: center;
	justify-content: center;
}

.generatedPass {
	background-color: transparent;
	height: 100px;
	width: 85%;
	border: 3px solid black;
	font-size: 1.5rem;
	line-height: 100px;
	color: black;
	text-align: center;
	margin: 10% auto 0;
}

.generatedPass:focus {
	outline: none;
}

.range {
	width: 85%;
	margin: 15px auto 0;
}

.range {
	-webkit-appearance: none;
	height: 15px;
	border-radius: 5px;
	background: white;
	outline: none;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.range::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: black;
	cursor: pointer;
	border-radius: 25%;
}

.range::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: black;
	cursor: pointer;
	border: 0px solid black;
	border-radius: 25%;
}

.generate {
	display: block;
	height: 75px;
	width: 276px;
	border: 3px solid black;
	background-color: transparent;
	margin: 55px auto 0;
	font-size: 2.5rem;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: black;
}

.generate:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

.copyBtn {
	display: block;
	border: 3px solid black;
	background-color: transparent;
	margin: 0px auto 0;
	font-size: 2.5rem;
	margin-bottom: 50px;
	height: 75px;
	width: 276px;
	text-transform: uppercase;
	color: black;
}

.copyBtn:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

.passPower {
	font-size: 2.5rem;
	margin: 50px auto 0;
	font-weight: bold;
	text-transform: capitalize;
}

.textContainer {
	width: 85%;
	margin: 0 auto;
	background-color: white;
	border: 2px solid black;
}

.aboutPass {
	font-size: 2rem;
	text-align: center;
	padding: 5%;
}

.aboutPass::selection {
	background-color: #dbf227;
}

.link {
	text-decoration: underline;
	color: black;
	font-size: 1.5rem;
	font-weight: bold;
	margin: 10px auto 0;
	text-transform: uppercase;
}

.link:hover {
	color: gray;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.switch input:checked + .slider {
	background-color: black;
}

.switch input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider {
	border-radius: 34px;
}

.slider:before {
	border-radius: 50%;
}

.switchName {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 20px;
	z-index: 1;
	text-transform: uppercase;
}

.checkboxesWrapper {
	display: flex;
	margin: 30px auto 0;
	label {
		margin: 0 7px;
		text-align: center;
	}
}

@media (min-width: 1025px) {
	.generatedPass {
		width: 800px;
		font-size: 50px;
		margin: 150px auto 0;
	}

	.range {
		width: 33%;
		margin: 15px auto 0;
	}

	.generate {
		height: 77px;
		margin: 80px auto 0;
		margin-bottom: 10px;
	}

	.copyBtn {
		height: 77px;
	}

	.textContainer {
		width: 50%;
	}

	.link {
		margin: 100px auto 0;
	}

	.switchName {
		font-size: 1.5rem;
	}

	.checkboxesWrapper {
		label {
			margin: 0 20px;
		}
	}
}
